// Fonts

// Variables
// Bootstrap





// Tailwind


@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sombrita {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sombrita-txt {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header div h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header div div ul li a {
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header div div ul li a:hover {
    text-decoration: none;
}

footer div div ul li a {
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer div h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    place-items: center;
    transform: var(--transform);
    transition:var(--transition);
}



.modal_delete{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}


.modal__container_delete{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    place-items: center;
    transform: var(--transform);
    transition:var(--transition);
}


.modal_edit{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}


.modal__container_edit{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    place-items: center;
    transform: var(--transform);
    transition:var(--transition);
}

